@font-face {
    font-family: 'IRANSans';
    src: url('./assets/fonts/IRANSans-web.woff') format('woff2'), /* Chrome36+, Opera24+*/ url('./assets/fonts/IRANSansWeb.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: normal;
}
@font-face {
    font-family: 'Vazir';
    src:
    url('./assets/fonts/Vazir.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: normal;
}

body {
    font-family:'Vazir' !important;

}
.app-header .nav-item .nav-link
{

}
.navbar-nav
{
    padding-right: 0;
}
.breadcrumb-item + .breadcrumb-item::before
{
    content:'|' !important;
}
.default-breadcrumb
{
    margin-right: -45px !important;
    margin-left: -45px !important;
}
.app-header .nav-item button
{
    font-size: 12px !important;
}
.card-group > .card:first-child
{
    border-top-right-radius:5px !important;
    border-bottom-right-radius:5px !important;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
}
.card-group > .card:last-child
{
    border-top-right-radius:0 !important;
    border-bottom-right-radius:0 !important;
    border-top-left-radius:5px !important;
    border-bottom-left-radius:5px !important;
}
.card-group > .card + .card
{
    border-right:0;
    margin-right:0;
    border-left:1px solid #187da0!important;
}
.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text, .input-group > .input-group-append:not(:last-child) > .btn, .input-group > .input-group-append:not(:last-child) > .input-group-text, .input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group > .input-group-append:last-child > .input-group-text:not(:last-child)
{
    border-top-right-radius:0px !important;
    border-bottom-right-radius:0px !important;
    border-top-left-radius:0 ;
    border-bottom-left-radius:0;
}
.appendFormLogin
{
    border-top-left-radius:0px !important;
    border-bottom-left-radius:0px !important;
    border-top-right-radius:0  !important;
    border-bottom-right-radius:0  !important;
}
.input-group > .datepicker-input:not(:first-child), .input-group > .custom-select:not(:first-child)
{
    border-top-right-radius:0 !important;
    border-bottom-right-radius:0 !important;
    border-top-left-radius:0px !important;
    border-bottom-left-radius:0px !important;
}
.card-group > .card:last-child
{
    border-radius:0px !important;
}
h1
{
    font-size:1.7rem !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bbbbbb !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bbbbbb !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bbbbbb !important;
}

h1.list-title
{
    font-size:1.2rem !important;
    padding-left:15px;
    border-left: 1px solid #ccc;
    margin-left: 15px;
    margin-bottom: 0px;
}
.form-check-input
{
    margin-left: 0px !important;
    margin-right:-1.25rem;
}
.loading-box
{
    color:#bbb;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.loading-box-text
{
    padding-right: 10px;

}
.row-list
{
    border-bottom: 1px solid #ccc;
    background-color: #ffffff;
    padding: 5px;
    margin:0px !important;
}
.row-list-header
{
    border-bottom: 1px solid #ccc;
    background-color: #FFCB2C;
    color: #ffffff;
    padding: 5px;
    margin:0px !important;
}
.col-list
{
    align-items: center;
    display: flex;
    position: relative;
}
.confirm-box
{
    background: #eee;
    padding: 10px;

}
.react-confirm-alert-overlay
{

    background: rgba(0,0,0,0.7) !important;
    z-index: 10000 !important;
}
.emptyList
{
    color:#aaa;
    font-size: 15px;
}
.circle-color
{
    width:32px;
    height:32px;
    border-radius: 100%;
}
.divDatePicker
{
    display: block;
    width:100%
}

.datepicker-input  {
    display: block;
    width: 100%;
    height: calc(2.0625rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
@media screen and (prefers-reduced-motion: reduce) {
    .datepicker-input {
        -webkit-transition: none;
        transition: none; } }
.datepicker-input::-ms-expand {
    background-color: transparent;
    border: 0; }
.datepicker-input:focus {
    color: #5c6873;
    background-color: #fff;
    border-color: #8ad4ee;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(32, 168, 216, 0.25); }
.datepicker-input::-webkit-input-placeholder {
    color: #73818f;
    opacity: 1; }
.datepicker-input:-ms-input-placeholder {
    color: #73818f;
    opacity: 1; }
.datepicker-input::-ms-input-placeholder {
    color: #73818f;
    opacity: 1; }
.datepicker-input::placeholder {
    color: #73818f;
    opacity: 1; }
.datepicker-input:disabled, .datepicker-input[readonly] {
    background-color: #ffffff;
    opacity: 1; }

.goldenrod
{
    color:goldenrod;
}
.form-control-file
{
    display: block;
    width: 100%;
    height: calc(2.0625rem + 4px);
    padding: 0 0 3px 0;

    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.upload-img
{
    max-width:80px;
    max-height:80px;
    background: #eee;
}
.upload-img-box
{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100px;
}
.sidebar .nav-link:hover
{
background: #FFCB2C !important;
}
.sidebar .nav-link.active .nav-icon
{
    color:#FFCB2C !important;
}
/*
a{
    color:#F8C31F !important;
}*/
